@model IEnumerable<Toko_makan.Models.Barang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kadaluarsa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumlahBarang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kadaluarsa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JumlahBarang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBarang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBarang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBarang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
